/*
 * Style Sheet
 *
 * Copyright © Vladislav Kazantsev
 * All rights reserved.
 * This code is the intellectual property of Vladislav Kazantsev.
 * You are welcome to clone the related repository and use the code for exploratory purposes.
 * However, unauthorized reproduction, modification, or redistribution of this code (including cloning of related repository or altering it for activities beyond exploratory use) is strictly prohibited.
 * Code snippets may be shared only when the original author is explicitly credited and a direct link to the original source of the code is provided alongside the code snippet.
 * Sharing the link to the file is permitted, except when directed toward retrieval purposes.
 * Any form of interaction with this file is strictly prohibited when facilitated by the code, except when such interaction is for discussion or exchange purposes with others.
 * This copyright notice applies globally.
 * For inquiries about collaboration, usage outside exploratory purposes, or permissions, please contact: hypervisor7@pm.me
 */

body {
  text-align: center;
  background-color: #283749;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0468;
}

.w {
  background-image: url("../assets/images/tom1.jpg");
}

.a {
  background-image: url("../assets/images/tom2.jpg");
}

.s {
  background-image: url("../assets/images/tom3.jpg");
}

.d {
  background-image: url("../assets/images/tom4.jpg");
}

.j {
  background-image: url("../assets/images/snare.jpg");
}

.k {
  background-image: url("../assets/images/crash.jpg");
}

.l {
  background-image: url("../assets/images/kick.jpg");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: #ff0000;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: #ff0000;
}

.drum {
  outline: none;
  border: 10px solid #4a4b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0468; /* Set the color for the text of the element. */
  text-shadow: 3px 0 #dbedf7;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  text-align: center;
  background-color: #ffffff;
}

.drum:active {
  transform: translate(0, 5px);
}

#footerContainer {
  display: block;
  margin: 0; /* Remove any default margin. */
  padding: 0; /* Remove any default padding. */
}

footer {
  display: block;
  bottom: 0;
  color: #eeeeee; /* Set the text color to white. */
  left: 0;
  margin: 0; /* Remove any default margin. */
  padding: 1em 0; /* Set the thickness of the padding area. */
  position: fixed; /* Position the element fixed to the viewport. */
  text-align: center; /* Set the alignment of the text. */
  width: 100%; /* Set the width of the element to 100% of its parent container. */
  font-size: 1.7rem;
  font-family: "Arvo", cursive;
}

footer a {
  color: #eeeeee; /* Set the text color to white. */
  text-decoration: underline;
}

footer a:visited {
  color: #eeeeee; /* Set the text color to white. */
}
